<div class="artistsearch">
  <div class="card search">
    <h1>Artist Directory</h1>
    <label>search <span *ngIf="query">for: {{query}}</span></label>
    <input #newArtist [(ngModel)]="query" placeholder="type in search term"(keyup.enter)="addArtist(newArtist.value); newArtist.value=''">
  </div>
</div>

<ul class="artistlist cf">
  <li class="artist cf" *ngFor="#item of artists" #artistContainer (click)="onClick(item, artistContainer)">
    <!-- Input value of 'item' to the subcomponent's 'artist' property -->
    <artist-item class="content" [artist]=item></artist-item>
  </li>
</ul>
