<div class="artistsearch">
  <div class="card search">
    <h1>Artist Directory</h1>
    <label>search <span *ngIf="query">for: {{query}}</span></label>
    <input #newArtist [(ngModel)]="query" placeholder="type in search term"(keyup.enter)="addArtist(newArtist.value); newArtist.value=''">
  </div>
</div>

<ul class="artistlist cf">
  <li class="artist cf" *ngFor="#item of artists" #artistContainer (click)="onClick(item, artistContainer)">
    <img src="images/{{item.shortname}}_tn.jpg" alt="{{item.name}} photo">
    <div class="info">
      <h2>{{item.name}}</h2>
      <h3>{{item.reknown}}</h3>
    </div>
  </li>
</ul>
