<div class="artistsearch">
  <div class="card search">
    <h1>Artist Directory</h1>
    <!-- 1-way bind the element's innerHTML to the value of that string -->
    <label *ngIf="name" [innerHTML]="'Name: ' + name"></label>
    <!-- Two-way bind component.name to this input field -->
    <input #newArtist [(ngModel)]="name" (keyup.enter)="addArtist(newArtist.value); newArtist.value=''">
      <button class="btn" (click)="addArtist(newArtist.value); newArtist.value=''">Add</button>
  </div>
</div>

<ul class="artistlist cf">
  <!-- Iterate through component.artists using temp variable 'item'. On click event, call component.onClick with artist name and li item -->
  <li *ngFor="#item of artists" #artistContainer (click)="onClick(item, artistContainer)">
    <h2>{{item}}</h2>
  </li>
</ul>
